
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #00211D;
     font-family: poppins;
     overflow: hidden;
}

li, a, button{
    font-size: 25px;
    color: #641B2E;
    text-decoration: none;
    font-weight: bold;
    
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: #C0B6AD;
    top: 0;
    left: 0;
    width: 99%;
    height: 60px;

}



.logotipo{
    color: #626F47;
    font-size: 35px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a:hover{
    color: #537D5D;
}

button{
    padding: 10px 20px;
    background-color: #626F47;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

button:hover{
    background-color: #00211D;
}

@media (max-width: 880px){
    li, a {
        font-size: 12px;
    }
}

.imgQuintal{
    height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center;   
}

.imgQuintal img {
  width: 500px; 
  height: auto;
}




